<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body> 
	<h1><%= pizzas[0].nome %></h1>
	<form>
		<input type="text" name="busca" placeholder="Qual pizza você procura?" autocomplete="off">
		<button type="submit">Buscar</button>
	</form>
	<main>
		<% for (let pizzaSingular of pizzas) {%>
			<article>
				<img src=<%= pizzaSingular.img %> alt="Pizza de <%= pizzaSingular.nome %>">
				<a href="/pizza/<%= pizzaSingular.id %>"><button>+ detalhes</button></a>
				<div><%= pizzaSingular.nome %></div>
				<span><%=pizzaSingular.preco %></span>
			</article>				
		<% } %> 

	</main>
</body>
</html>